.character-list {
  height: 720px;
  overflow: auto;

  .id {
    font-weight: 600;
  }

  .name {
    margin-left: 16px;
    font-weight: 200;
  }

  .description {
    margin-left: 16px;
    font-weight: 400;
    font-style: italic;
    color: gray;
    font-size: 0.8em;
  }
}
